[package]
org = "ballerinax"
name = "persist.sql"
version = "@toml.version@"
authors = ["Ballerina"]
keywords = ["persist", "sql", "mysql", "mssql", "sql-server", "Vendor/N/A", "Area/Database", "Type/Util"]
repository = "https://github.com/ballerina-platform/module-ballerinax-persist.sql"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.12.0"

[platform.java21]
graalvmCompatible = true

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "persist.sql-native"
version = "@toml.version@"
path = "../native/build/libs/persist.sql-native-@project.version@.jar"

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "persist-native"
version = "@persist.version@"
path = "./lib/persist-native-@persist.native.version@.jar"

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "sql-native"
version = "@sql.native.version@"
path = "./lib/sql-native-@sql.native.version@.jar"
